.ap{
  text-align: center;
}
.popup{
   height: 400px;
   width: 50%;
   background-color: #dbdbec;
   position: absolute;
   top: 25%;
   right: 25%;
}

.mai{
background-color: rgb(152, 187, 255);
  height: 100%;
  width: 100%;
  top:0px;
}

.popup-header{
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  border-bottom: 2px solid black;
}